*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* form{
     border: 2px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}
form input{
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    border: 1px solid;
    
} */
 .container-form{
    width: 330px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    color: white;
        background-color: white;
        border: 1px solid white;
    /* padding: 0.5rem; */
    border-radius: 18px;
 }
 form{
    border-radius: 20px;
    background-color: #c5c6c8;
   padding: 0.5rem;
    height:80%;
    width: 95%;
     color: black;
    display: grid;
     grid-template-columns: 90px 200px;
    align-items: center;
    row-gap: -100px;
  }
 form label{
   
     font-size: 15px;
 }
 form input{
     height: 28px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
 }